<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<h1>Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized

<strong>Objextives</strong>
- List popular languages for Data Science
- List popular libraries for Data Science
- Create a table with Data Science Tools
- Execute arthmetic operation
- Convert minutes to hous

<h4> Data Science languages</h4>
1. Python
1. R
1. SQL

<h4>Some of commonly used libraries used by Data Scientist include:</h4>

1. Pandas
1. Numpy
1. Matplotlib
1. ggplot

| Data Science Tools |
| -------- |
| Apache Spark |
| SAS |
| MAchine Learning |
| Excel |
| Tableu |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author</h2>
Wojtek